*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

html {
    background-image: url("./bg-grid.jpg");
    background-color: #E7EBF2;
    background-repeat: repeat;
    background-size: .5rem;
}

section {
    overflow: hidden;
    height: 100vh;
    display: grid;
    place-items: center;
    grid-column: 1fr;
    grid-row: 1fr;
}

section h1 {
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 1rem;
}

section small {
    font-size: .75rem;
}

pivot-writer::before {
    content: "Pivot:";
    margin-right: .5rem;
    color: #3B82F7;
    font-weight: bold;
}

pivot-writer {
    display: block;
    box-shadow: 0 .25rem 0 #000000;
    margin: .75rem .25rem;
    width: max-content;
    padding: .75rem 1rem;
    background-color: #ffffff;
    border-radius: 0 10px 10px;
    text-align: center;
    border: 1px solid #000000;
    opacity: 0%;
    filter: blur(10px);
    scale: 50%;
}

.loaded {
    animation: fade-out .25s  ease-out forwards;
}

@keyframes fade-out {
    to {
        opacity: 100%;
        filter: unset;
        scale: 100%;
    }
}